<a href="https://colab.research.google.com/github/jafarpenot/python_basics/blob/main/cheat_sheet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **CREATE / ACCESS / SLICE LISTS**

In [ ]:
# LISTS
# lists can contain different values
courses = [1, 2, 3, 4, 'history']

print(courses[0])
print(courses[1:4]) # 1 is inclusive but 4 is not

In [ ]:
# slice is an object to slice lists, tuples and more
my_slice = slice(1,3,1)
my_slice2 = slice(1,3,2)

print(my_slice)
print(courses[my_slice])
print(courses[my_slice2])

## **APPEND  /  EXTEND  /  INSERT / REMOVE  / POP / DEL**

In [ ]:
# APPEND  /  EXTEND  /  INSERT
courses = [1, 2, 3, 4, 'history']

courses.append('math')
courses.extend(['geo', 'sport'])
courses.insert(2, 'art')

print(courses)

# REMOVE  / POP / DEL

courses.remove('art')
last = courses.pop()
penultimate = courses.pop(-1)
del courses[-2:]

print('last ', last)
print('penultimate ', penultimate)
print(courses)

## **SORT / REVERSE  -  INDEX ACCESS**

In [36]:
# SORTED / REVERSE 
numbers = [3, 2, 1, 4, 5, 6]
print('numbers', numbers)

numbers.reverse()
print('reverse', numbers)

numbers.sort()
print('sort', numbers)

numbers.sort(reverse=True)
print('sort reverse', numbers)

numbers = [3, 2, 1, 4, 5, 6]
my_sorted_numbers = sorted(numbers)
print('numbers', numbers)
print('sorted numbers', my_sorted_numbers)

numbers [3, 2, 1, 4, 5, 6]
reverse [6, 5, 4, 1, 2, 3]
sort [1, 2, 3, 4, 5, 6]
sort reverse [6, 5, 4, 3, 2, 1]
numbers [3, 2, 1, 4, 5, 6]
sorted numbers [1, 2, 3, 4, 5, 6]

In [39]:
# ACCESS INDEX OF VALUE    /   VALUE IN LIST ? TRUE FALSE
numbers = [3, 2, 1, 4, 5, 6]

print(numbers.index(2))

print(3 in numbers)

1
True

## **PRINT LIST / ENUMERATE  -  DIFFERENCE**

In [44]:
courses = ['math', 'geo', 'art', 'hhh', 'hhh']

print(courses)

for course in courses:
  print(course)

for index, course in enumerate(courses):
  print(index, ' ', course)

['math', 'geo', 'art', 'hhh', 'hhh']
math
geo
art
hhh
hhh
0   math
1   geo
2   art
3   hhh
4   hhh

## **EMPTY LIST TUPLE AND SET**

In [ ]:
empty_list = []
empty_list2 = list()

empty_tuple = ()
empty_tuple2 = tuple()

empty_set = set()

empty_dict = {}